.wingman-logo {
    width: 500px;
    height: 500px;
    background: grey;
    border-radius: 50%;
    margin-left: -250px;
    display: relative;
    
    transform:scale(0.01);
    transition:transform 0.5s;
  
    &.explode {
      transform: translate(+25%, +25%) scale(1);
    }
  
    .mask {
      width: 500px;
      position: absolute;
      height: 169px;
      background: white;
    }
  
    .mask.bottom {
      margin-top: 332px;
    }
  
    h1 {
      color: darkkhaki;
      position: absolute;
      font-size: 148px;
      margin: 147px -69px;
      text-shadow: 5px 5px 4px black;
      font-style: italic;
    }
  
    .birds-container {
      width: 406px;
      margin: auto;
    }
  
    .bird {
      width: 192px;
      transform: scaleX(-1);
      float: left;
      margin: 0 5px;
      opacity: 0;
  
      &.fade-in {
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 2s;
      }
      
      @keyframes fadeInOpacity {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
    }
  
    .bird.right {
      transform: scaleX(1);
    }
  }
  